html {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    display: grid;
    grid-template-areas: "head"
                         "main"
                         "footer";
}
    
header {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100px;
    max-height: 100px; 
    grid-area: head;
    text-align: left;
    align-items: center;
    
}

#logo {
    max-height: 100px;
    width: auto;
   
}

.nav-table {
    display: none;
}

.navigation-container {
    list-style: none;
    text-align: right;
    text-decoration: none;
    height: 100%;
    align-items: center;
    
   
}

.nav-link {
    display: inline-block;
    margin-left: 10px;
    background-color: #52ab98;
    color: white;
    padding: 15px;
    border-radius: 10px;
    
}

.nav-link a {
    text-decoration: none;
    color: white;   
    
}

/* Home styles */

.about-me-container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-area: main;
}

.about-me-text-container {
    background-color: #2b6777;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: white;
    display: block;
}

p {
    color: white;
    display: block;
    padding: 0 100px;
}
#coding-image {
    max-width: 100%;
    height: auto;
}

footer {
    grid-area: footer;
}

.contact-icons {
    padding: 20px;
}

i {
    padding-left: 20px;
    padding-right: 20px;
    
}

/*Projects page styles*/

.projects-container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-area: main;
    min-height: 500px;
}

.projects-content-container {
    background-color: #2b6777;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-image{
    max-width: 100px;
    height: auto;
}

figcaption{
    color: white;
}

.project-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c8d8e4;
    height: 100%;
}

.skills-images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.skills-header{
    color: black;
}
.image{
    max-width: 100px;
    height: auto;
    filter:grayscale(100%);
}
/* make responsive*/

@media only screen and (max-width: 953px) {
    .navigation-list {
        display: none;
    }
    .nav-table {
        display: inline-block;
        position: fixed;
        top: 0px;
        right: 10px;
        background-color: white;
    }

    .nav-table-icon{
        padding: 10px;
        cursor: pointer;
        color:#2b6777;
        border: 1px solid #52ab98;
        position: fixed;
        top: 40px;
        right: 10px;
        z-index: 10;
        background-color: white;
    }


    #navigation-table-list {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 70px;
        right: 0px;
        z-index: 0;
        width: 100%;
        text-align:center;
        background-color: white;
        margin: 0;
    }

    .nav-link {
        margin: 10px 0;
    }

    .navigation-table-list .nav-link{
        margin: 10px;
    }

    .about-me-container{
        grid-template-columns: 100%;
    }

    .about-me-text-container{
        min-height: 500px;
    }

    p{
        padding: 5px;
    }

}